# Environment files
.env

# AI tools
.opencode/

# IDEs and editors
.idea/
.vscode/

# Created by .ignore support plugin (hsz.mobi)

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
